*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    /*position: fixed;*/
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    width: 20%;
    height: 85px;
}

#logoRODA{
    width: 100%;
    height: 85px;
}

#delista1{
    color: white;
    text-decoration: none;
    border: solid darkred 1px;
    background: black;  
    font-size: 20px;
}

#delista1:hover{
    background: darkblue;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    height: 60vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;

}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(144, 144, 144);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #b02727;
    color: #fff;
    text-decoration: none;
    background: #b02727;
}

.btn:hover {
    background: black;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000
}

#headerLogin{
    background: rgba(0, 0, 0, 0.966);
    width: 100%;
    height: 130px;
    color: white;
    text-align: center;
}

#h1Login{
    padding-top: 35px;
    font-size: 50px;
}

/*Nombre y contraseña del login es el label*/
label{
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 20px;
}
/*Input del nombre de usuario*/
#id_username{
    margin-top: 20px;   
}
/*Input de la contraseña*/
#id_password{
    margin-top: 20px;
}
/*El li es para el Mensaje del login*/
li{
    color: white;
    display:inline;
}

/*#login1{
    margin-left: 180px; 
    color:white;  
    display: flex; 
    position: absolute;
}

#login2{
    margin-left: 450px; 
    color:white; 
    display:flex;
}*/

#botoninicio{
    background: red;
    color:gold;
    border: 1px solid white;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: block;
}
#botoninicio:hover{
    background: blueviolet;
}

.sau {
    background: #000000;
    height: 500px;
}

#tituloProyecto{
    width: 100%;
    height: 65px;
}

.sau a{
    width: 50%;
    height: 220px;
}
#imgDuoc{
    width:50%; 
    height:220px; 

}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: #000000;
    color: white;

}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

#listare{
    background:  darkred;
    width: 100%;
    height: 200px;
    text-align:center;
}
th{
    padding-top:20px;
    height: 1px;
}
#titulosl{
    font-size:20px;
    color: gold;
    background: black;
}

#metadatos{
    font-size:16px;
    color: wheat;
    background: black;
}
td{
    padding-top:20px;
    height: 1px;
}

#secComentario{
    padding-top: 0px;
}
#id_comentario{
    margin-top: 20px;
}

#botonComentar{
    background: red;
    color:gold;
    border: 1px solid white;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: block;
}
#botonComentar:hover{
    background: blueviolet;
}


@media (max-width: 900px) {
    .head{
        height: 480px;
        width: 100%;
        display: block;
    }

    .logo {
        width: 100%;
        height: 85px;
    }
    
    #logoRODA{
        height: 85px;
        width: 50%;
    }

    .navbar {
        width: 100%;
        height: 100px;
        display: block;
    }
    .navbar a{
        width: 88%;
        border: solid darkred 1px;
        margin: 0 auto;
    }
    
    .title {
        font-size: 28px;
    }
    header p{
        text-align: center;
        font-size: 15px;
    }
    .sau {
        height: 300px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .sau a{
        width: 33%;
        height: 80px;
    }
    #imgDuoc{
        width:100%; 
        height:80px; 
    }
    .price .contain{
        padding-top: 20px;
        height: 450px;
       
    }
    /*Boletas y Sucursales*/
    #listare{
        width: 100%;
        height: 200px;
        text-align:center;
    }
    th{
        padding-top:10px;
        height: 0.5px;
    }
    #titulosl{
        font-size:10px;
    }
    
    #metadatos{
        font-size:6px;
    }
    td{
        padding-top:10px;
        height: 0.5px;
    }
    #delista1{ 
        font-size: 10px;
    }

    /*Login*/
    #headerLogin{
        width: 100%;
        height: 100px;
        text-align: center;
    }
    #h1Login{
        padding-top: 40px;
        font-size: 20px;
    }
    
    /*Páginas de comentario*/
    #secComentario{
        padding-top: 0px;
        height: 270px;
    }
}

